*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FBFBFF;
}

/* header */
header{
    background-color: #7B78FE;
    align-items: center;
    padding: 40px 10px;
    display: block;
}
li, a{
    font-family: "Roboto", sans-serif;
    font-size: 16pt;
    text-decoration: none;
}
.menu-list{
    display: flex;
    justify-content: center;
    list-style-type: none; /* untuk menghilangkan list */
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
}
.menu-list li{
    display: inline-block;
    padding: 0px 30px;
}
.menu-list li a{
    color: #FBFBFF;
    position: relative;
    text-decoration: none;
}
.menu-list li a:hover{
    color: white;
    font-weight: 800;
}

/* untuk bergaris bawah */
.menu-list li> a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color:  #FBFBFF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.menu-list li> a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}
/* end header */

/* main header */
.main-header{
    background-color: #E3F3FF;
    height: 300px;
    width: 100%;
    margin-bottom: 210px;
}
.map{
    height: 400px;
    width: 1000px;
    align-content: center;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: 13%;
    border-radius: 3%;
    box-shadow: 0px 0px 20px 3px rgb(202, 198, 198);
}
/* end main header */

/* title */
.title{
    position: relative;
    text-align: center;
}
.title h1{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    font-size: 40pt;
    font-weight: bold;
}
.title p{
    font-family: Roboto;
    font-size: 16pt;
    color: #837DA6;
    width: 80%;
    margin: auto;
}
.title span{
    font-family: Roboto;
    font-size: 16pt;
    color: #837DA6;
    font-weight: bold;
    text-align: justify;
    width: fit-content;
    height: fit-content;
    float: left;
}
/* end title */

/* contact us */
.contact-us {
    text-align: left;
    display: grid;
    grid-template-columns: 50% auto;
    border-radius: 5px;
    background-color:  #FBFBFF;
    padding: 20px;
    margin-left: 10%;
    margin-top: 30px;
}

input[type=text], select {
    font-family: "Roboto", sans-serif;
    font-size: 16pt;
    width: 450px;
    height: 50px;
    padding: 10px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 2px solid #837DA6;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 2px solid #7B78FE;
}

input[type=text]:hover {
    border: 2px solid #f05028;
}

textarea {
    font-family: "Roboto", sans-serif;
    font-size: 16pt;
    width: 450px;
    height: 300px;
    padding: 10px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 2px solid #837DA6;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea:hover {
    border: 2px solid #f05028;
}
  
.title-contact{
    text-align: left;
    font-weight: bold;
    color: #332D58;
    margin: auto;
    font-size: 30px;
}

.send {
    background-color: #FBFBFF;
    border: 3px solid #FF8264;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
    color: #FF8264;
    font-weight: bold;
	font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin-top: 20px;
	padding: 10px 50px;
	text-decoration: none;
}
.send:hover {
    background-color: #FF8264;
    color: #FBFBFF;
}

#title-bold{
    text-align: left;
    font-weight: bold;
    color: #332D58;
    margin: auto;
    margin-bottom: 40px;   
}

.address p {
    font-family: "Roboto", sans-serif;
    font-size: 16pt;
    text-align: justify;
    margin: auto;
    padding-right: 140px;
    margin-bottom: 80px;
    color: #837DA6;
}

.faq{
    padding-left: 10px;
    color: #332D58;
    font-family: 'Roboto';
    font-size: 16pt;
    height: 50%;
    width: 50%;
    margin-bottom: 10px;
}
.faq h1{
    font-family: "Roboto", sans-serif;
    font-size: 80pt;
    font-weight: bold;
    opacity: 0.2;
    position: absolute;
}
.faq p {
    font-family: "Roboto", sans-serif;
    padding-left: 5px;
    padding-top: 50px;
    color: #837DA6;
    margin-top: 30px;
}
.socmed a {
    margin-top: 80px;
    margin-right: 40px;
    color: #FF8264;
}

.socmed a:hover{
    color: #f05028;
}
/* end contact us */

/* our product */
.products-text {
    font-family: "Roboto", sans-serif;
    font-size: 16pt;
    text-align: justify;
    text-decoration-line: underline;
    color: #837DA6;
}

.card {
    background: #7B78FE;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 405px;
    margin: 6rem auto 8.1rem auto;
    width: 270px;
}

.card-body {
    margin: auto;
}

.card-body p {
    text-align: left;
    height: 25px;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    color: #FBFBFF;
}

.card-title {
    height: 25px;
    font-weight: bold;
    font-size: 18pt;
    font-family: "Roboto", sans-serif;
    text-align: left;
    color: #FBFBFF;
}

.btn-card {
	background-color:#FF8264;
	border-radius:3px;
	border:1px solid #FF8264;
	display:inline-block;
	cursor:pointer;
	color: #FBFBFF;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
	font-size: 16px;
	padding: 10px 80px;
    text-decoration:none;
    margin-top: 80px;
    margin-left: 20px;
}

.btn-card:hover {
    border:1px solid #f3623e;
	background-color:#f3623e;
}

.btn-card:active {
	position:relative;
	top:1px;
}

.card-img-top {
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    width: 120px;
}

.our-products {
    width: auto;
    text-align: left;
    display: grid;
    grid-template-columns: 30% auto auto auto;
    padding-right: 160px;
    padding-left: 20px;
}

.title-section {
    margin-left: 40px;
    margin-top: 150px;
}

.products-text {
    margin-left: 40px;
    font-size: 12pt;
    text-align: left;
}

.line {
    width: 60px;
    height: 7px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.prod-h1 {
    margin-left: 15px;
    color: #332D58;
    font-family: "Open Sans", sans-serif;
    font-size: 30pt;
    text-align: center;
    font-weight: bold;
}
/* end conctact*/

/* footer */
#footer-bold{
    font-weight: bold;
    color: #332D58;
}

footer{
    padding-top: 20px;
    padding-bottom: 40px;
}
footer p{
    text-align: center;
}
.row {
    display: block;
    padding: 0px 10px;
}
/* end footer*/

